<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /mcitransport/

	RewriteRule ^ajax/(.*)  /mcitransport/syte/ajax/$1 [QSA,L]
	RewriteRule ^css/(.*)   /mcitransport/syte/recursos/css/$1 [QSA,L]
	RewriteRule ^img/(.*)   /mcitransport/syte/recursos/imgs/$1 [QSA,L]
	RewriteRule ^js/(.*)    /mcitransport/syte/recursos/js/$1 [QSA,L]
	RewriteRule ^fonts/(.*)    /mcitransport/syte/recursos/fonts/$1 [QSA,L]

  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /mcitransport/index.php [L]
</IfModule>