body{
	margin: 0px;
	font-family: Roboto;
}

nav{
    position: fixed;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
    transition: all .5s;
    z-index: 9999999999;
}

.container{
	position: relative;
	max-width: 1170px;
	margin: 0px auto;
}

.fondo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.nav_container{
	
}

.logo_header{
    width: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    background-image: url(../img/logos/logo.png);
    height: 100px;
    float: left;
}

nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    float: right;
}


nav ul > li{
	display: inline-block;
	padding: 40px 10px;
}


nav ul  li a {
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    font-size: 15px;
    font-family: texgyreadventorregular;
    text-transform: uppercase;
}

nav.opaco {
    position: fixed;
    background: rgba(0,0,0,0.8);
    transition: all .5s;
    padding: 5px 20px;
}

.opaco .logo_header {
    height: 80px;
}

nav.opaco ul > li {
    display: inline-block;
    padding: 30px 10px;
}

/* tablas */

    .tabla{
        display: table;
    }

    .fila{
        display: table-row;
    }

    .celda{
        display: table-cell;
    }

/* Footer */

    footer {
        background-color: #242424;
        padding: 75px 30px;
    }

    footer .tabla {
        width: 100%;
    }


    footer .celda {
        width: 25%;
        box-sizing: border-box;
        padding: 0px 10px;
    }

    footer .titulo {
        font-family: Dosis;
        font-size: 16px;
        line-height: 20px;
        color: rgba(255,255,255,0.5);
        padding-bottom: 15px;
    }

    footer .content {    
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        font-family: "Lora";
        line-height: 22px;
        text-transform: none;
        letter-spacing: 0px;
        color: #FFF;
    }

    footer .content p {    
        padding-right: 10px;
    }

    footer .info {    
        padding: 10px 0px;
    }

    footer .content_icon {    
        display: inline-block;
        width: 30px;
        text-align: center;
    }

    footer .content_icon i { 
        color: rgba(255,255,255,0.5);
    }

    footer ul.categories { 
        list-style: none;
        margin: 10px 0px 0px;
        padding: 0px;
    }

    footer ul.categories li { 
        border-bottom: solid 1px rgba(255,255,255,0.1);
        padding: 10px 0px 10px 20px;
        position: relative;
    }

    footer ul.categories li:last-child { 
        border-bottom: solid 0px rgba(255,255,255,0.1);
    }

    footer ul.categories li a { 
        font-size: 14px;
        font-family: "Lora";
        font-weight: 400;
        font-style: normal;
        text-transform: none;
        letter-spacing: 0px;
        color: #FFF;
        text-decoration: none;
        line-height: 22px;
        transition: all .3s ease-in-out;
    }

    footer ul.categories li:hover a { 
        transition: all .3s ease-in-out;
        padding-left: 5px; 
        color: #c39f76;
    }

    footer ul.categories li:before { 
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -2.5px;
        background: #c39f76;
        width: 5px;
        height: 5px;
    }

    footer ul.social {
        list-style: none;
        margin: 10px 0px 0px;
        padding: 0px;
        text-align: center;
    }

    footer ul.social li {
        display: inline-block;
    }

    footer ul.social li a {
        color: rgba(255, 255, 255, 0.5);
        padding: 10px;
        display: inline-block;
        font-size: 20px;
    }

    footer .nombre_empresa {
        color: rgba(255, 255, 255, 1);
        text-align: center;
        padding: 10px;
        font-family: Dosis;
        letter-spacing: 1px;
        font-size: 20px;
    }

    footer .vlz-copyright-box {
        width: 100%;
        color: #666;
        padding-top: 10px;
        text-align: center;
    }

    footer .vlz-copyright-box > div {
        padding: 5px;
    }

    footer .vlz-copyright-box a {
        text-decoration: none;
        color: #939393!important;
    }

    footer .gallery_container {
        overflow: hidden;
    }

    footer .gallery_container .gallery > div {
        width: 33.3333333334%;
        height: 120px;
        box-sizing: border-box;
        display: inline-block;
        float: left;
        overflow: hidden;
        position: relative;
        padding: 10px;
    }

    footer .gallery_container .gallery > div > div {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        cursor: pointer;
    }

    footer .gallery_container .gallery > div > div > div {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0px;
        left: 0px;
        transition: all .1s ease-in-out;
    }

    footer .gallery_container .gallery > div > div:hover > div {
        width: calc( 100% + 20px );
        height: calc( 100% + 20px );
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: -10px;
        left: -10px;        
        transition: all .1s ease-in-out;
    }
